* {
  box-sizing: border-box;
  margin: 0; padding: 0; border: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body, .page {
  height: auto;
  min-height: 100vh;
}
.left-text{
  width: 100%;
}
.right-image-flex {
  margin-right: 50px; 
  margin-bottom: 30px;
  float: right;

}
.left-image-flex{
  float:left;
}


  p {
    color: antiquewhite;
    margin: 10px 0;
    padding-left: 750px;
    font-size: larger;
  }

h3{
  color: rgb(221, 176, 118);
  font-size: larger;
  font-weight: bolder;
}

.pargraph {
  font-size: larger;
  padding-right: 750px;
  color: antiquewhite;
  margin: 20px;
}

.page {
  padding: 4em;
}


.nav {
  list-style-type:none;
  display:flex;
  flex-wrap: nowrap;
  width:100%;
  background:#222;
}
.navItem, .navItem a {
  display:inline-block;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navItem a {
  width:100%;
  padding-top:22px;
  padding-bottom:10px;
  color:white;
  text-decoration:none;
  text-align:center;
  text-shadow: 1px 1px 2px rgba(34,34,34,0.4);
  font-weight:600;
  font-size:2em;
  
}
.navItem:nth-of-type(1) {
  border-bottom:2px solid #D60F3A;
}
.navItem:nth-of-type(1) a:hover {
  background:#D60F3A;
}
.navItem:nth-of-type(2) {
  border-bottom:2px solid #8317AD;
  
}
.navItem:nth-of-type(2) a:hover {
  background:#8317AD;
}
.navItem:nth-of-type(3) {
  border-bottom:2px solid #3116DE;
  
  
}
.navItem:nth-of-type(3) a:hover {
  background:#3116DE;
   
 
}


.navItem:hover{
  flex-grow: 3;
  -webkit-flex-grow: 3;
}

.nav img {
  float: right;
  margin-top: 32.5px;
  margin-right: 40px;
}

.right {
  position: absolute;
  right: 100px;
}

h2 {
  color: #fb9999;
  font-size: 3.2em;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  font: bolder;
}

#one { background-color: #4b0000; }
#two { background-color: #653600; }
#three { background-color: #3c3a00; }
#four { background-color: #112d00; }